{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!
{% endblock %}

{% block body %}
	<div class="container">
		<div class="col-12 text-center">
			<h1>Index</h1>
		</div>
	</div>
{% endblock %}

